# === 빌드 산출물 무시 ===

# 오브젝트 파일
*.o

# 실행 파일 (확장자 없는 것들)
a.out
*/hello_*
*/loop
*/lopen

# 확장자가 없는 모든 실행 파일 무시
*/[a-zA-Z0-9]*
!*.c
!*.h

# 텍스트/출력 파일 (실습 중 생길 수 있음)
*.txt
*.log


# === 폴더 단위로 무시할 때 ===
/bin/
/build/

**/*.o

# 모든 하위 디렉토리의 실행파일 무시
**/*.out
**/*.exe
**/*.bin
**/*.elf
**/*.run