# === 빌드 산출물 무시 ===

# 오브젝트 파일
*.o

# 실행 파일 (확장자 없는 것들)
a.out
*/hello_*
*/loop
*/lopen


# 텍스트/출력 파일 (실습 중 생길 수 있음)
#*.txt
*.log
#*.dat

**/*.o

# 모든 하위 디렉토리의 실행파일 무시
**/*.out
**/*.exe
**/*.bin
**/*.elf
**/*.run